body {
  background-color: $background-color-dark;
}

* {
  color: $font-color-dark;
}

.nav a {
  color: $font-color-dark;
}

.title a h1 {
  color: $title-color-dark;
}

.title a:hover h1 {
  text-decoration-color: $title-color-dark;
}

code strong {
  color: $code-font-dark;
}

.main {
  border-left: 3px solid $border-color-dark;
}

.footer a {
  color: $font-color-dark;
}

.footer {
  border-top: 1px solid $border-color-dark;
}

.header {
  border-bottom: 1px solid $border-color-light;
}

code,
pre {
  background-color: $code-background-dark;
  color: $code-font-dark;
  border: 1px solid $code-background-dark;
}

.box {
  border: 1px solid $tech-border-dark;
}

.main img {
  box-shadow: 4px 4px 8px $box-shadow-dark;
}

.logo img {
  filter: brightness(0.9);
}

@media (max-width: 900px) {
  .main img {
    box-shadow: none;
  }

  .header {
    border-bottom: 0;
  }

  .main {
    border: 0;
    box-shadow: none;
  }

}
