/* Footer */

.footer {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
}

.footer a {
  text-decoration: none;
}

.footer .social {
  font-size: 2rem;
}

.footer {
  flex: 0 0 auto;
}
