img,
 embed,
 object,
 video {
  max-width: 100%;
}

.gallery-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  row-gap: 0.5rem;
  column-gap: 0.5rem;
  margin-bottom: 1rem;
}

.gallery-container a {
  text-decoration: none;
}


@media (max-width: 668px) {
  .gallery-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-content: center;
    justify-items: center;
    text-align: center;
  }

}
