@import '../../node_modules/normalize.css/normalize';
@import 'variables';

@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';

@import 'blockquotes';
@import 'code';
@import 'typography';
@import 'header';
@import 'footer';
@import 'technology';
@import 'light-colors';
@import 'gallery';

body {
  margin: 0 1rem;
}

* {
  box-sizing: border-box;
  border: 0 none;
  margin: 0;
  padding: 0;
}

.inline {
  display: inline;
}

.content {
  padding: 0 1rem 0 1rem;
}

pre {
  margin-top: 1rem;
}

ol,
ul {
  padding-left: 1.5em;
}

.hidden {
  display: none !important;
}

html,
body {
  min-height: 100%;
  overflow-x: hidden;
  max-width: 100%;
}

/* Placement */

body {
  display: flex;
  flex-direction: column;
}

.main {
  width: 70%;
  margin: 0 auto;
  min-height: 35rem;
  margin-bottom: 1rem;
}

.content table,
.content ul {
  margin-bottom: 1rem;
}

.social a {
  margin-right: 1rem;
}

.font-display {
  padding: 0.5rem;
}

.content img {
  float: right;
  margin-bottom: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.font-display p {
  justify-content: center;
  text-align: center;
  align-items: center;
}

@media (max-width: 900px) {
  .main {
    width: 100%;
    margin: 0;  
  }
  .content p {
    float: none;
  }
  .content img {
    float: none;
    margin: 0;
    padding: 0;
  }
}
