/* technology.scss */

.landingpage {
  display: grid;
  gap: 1.5em;
  grid-template-columns: 1fr;
  padding: 1.5rem;
  margin: 2rem;
}

.landingpage h1 {
  grid-column: span 1;
  justify-self: center;
}

@keyframes fadeIn {
  from {
    opacity: 0; 
  }

  to {
    opacity: 1; 
  }
}

body {
  animation: fadeIn 0.75s ease-in-out;
  opacity: 1; 
}

.box {
  border-radius: 15px;
  text-align: center;
  padding: 2rem 1rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.box:hover {
  transform: scale(1.05);
}

.span1,
.span2,
.span3 {
  grid-column: span 3;
}

.single-tech {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 2rem;
}

.tech-menu {
  padding-right: 2rem;
}

.tech-menu h2 {
  border: 0;
  margin-left: 1rem;
  padding-top: 0;
}

.tech-menu-item h2 a {
  text-decoration: none;
}

.tech-menu-item h3 a:hover {
  text-decoration: underline;
}

@media (max-width: 900px) {
  .tech-menu {
    display: none;
  }
}

@media (min-width: 900px) {
  .landingpage {
    grid-template-columns: 1fr 1fr 1fr; 
  }

  .landingpage h1 {
    grid-column: span 3;
  }

  .span1 {
    grid-column: span 1;
  }
    
  .span2 {
    grid-column: span 2;
  }
    
  .span3 {
    grid-column: span 3;
  }
}
