// monoschromatic theme starting at #DC2385
$font-color-light: #212121;
$title-color-light: #E44E9E; 
$background-color-light: #F9D2E7;
$border-color-light: #F3A5CE; 
$code-background-light: #E44E9E;
$code-font-light: #F9D2E7;
$box-shadow-light: #5b5b5b4d;
$tech-border-light: #F3A5CE;

// monoschromatic theme starting at #0D0D0D
$font-color-dark: #6F6E78;
$title-color-dark: $font-color-dark; 
$background-color-dark: #0D0D0D;
$border-color-dark: $font-color-dark;
$code-background-dark: $font-color-dark;
$code-font-dark: #262627;
$box-shadow-dark: #7c7c7c4d;
$tech-border-dark: $font-color-dark;


$accent-color: #ed7253;
$background-alternative-color: #e0fbfc;
$font-alternative-color: #fff;
