// monoschromatic theme starting at #DC2385
$font-color-light: #212121;
$title-color-light: #e44e9e; 
$background-color-light: #f9d2e7;
$border-color-light: #f3a5ce; 
$code-background-light: #e44e9e;
$code-font-light: #f7dfec;
$box-shadow-light: #5b5b5b4d;
$tech-border-light: #f3a5ce;

// monoschromatic theme starting at #0D0D0D
$font-color-dark: #9999a8;
$title-color-dark: $font-color-dark; 
$background-color-dark: #0d0d0d;
$border-color-dark: $font-color-dark;
$code-background-dark: $font-color-dark;
$code-font-dark: #262627;
$box-shadow-dark: #7c7c7c4d;
$tech-border-dark: $font-color-dark;


$accent-color: #ed7253;
$background-alternative-color: #e0fbfc;
$font-alternative-color: #fff;
